include setup.py
include MANIFEST.in
include Doxyfile
include README.md
include COPYING
include CHANGELOG
recursive-include thermod *.py
include bin/*
include etc/*
include samples/*
recursive-include web *
