include setup.py
include MANIFEST.in
include Doxyfile
include README.md
include COPYING
include CHANGELOG.md
recursive-include thermod *.py
include bin/*
include etc/*
include doc/*
include samples/*
recursive-include web *
