[Unit]
Description=Thermod thermostat daemon
Requires=syslog.service
Wants=network.target
After=syslog.service network.target

[Service]
Type=simple
User=thermod
PermissionsStartOnly=true
ExecStartPre=-/bin/mkdir -p /run/thermod
ExecStartPre=/bin/chown thermod /run/thermod
ExecStart=/usr/bin/thermod --systemd
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
