[Unit]
Description=Thermod thermostat daemon
Requires=syslog.service
Wants=network.target
After=syslog.service network.target

[Service]
Type=forking
User=thermod
Group=nogroup
PIDFile=/run/thermod/thermod.pid
# run ExecStartPre with root permissions
PermissionsStartOnly=true
ExecStartPre=-/bin/mkdir -p /run/thermod
ExecStartPre=/bin/chown thermod:nogroup /run/thermod
# run ExecStart with custom user and group permissions
ExecStart=/usr/bin/thermod --pid /run/thermod/thermod.pid
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
